#root {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

header {
  flex-shrink: 1;
  min-height: 55px;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  padding: 0 10px;
}

header h1 {
  margin: 0;
}

#header-info-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
}

#header-info-box p {
  margin: 0;
}

#lower-left p span,
#header-info-box p span,
#header-info-box p a {
  font-weight: bold;
}

#header-info-box p a {
  text-decoration: underline;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr 30%;
  flex-grow: 1;
  overflow: hidden;
}

header,
main>div {
  border: 1px solid black;
}

#upper-left,
#upper-right,
#lower-right {
  overflow-y: scroll;
  position: relative;
}

#ur-utils {
  position: static;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 3px 10px;
  background-color: white;
  gap: 10px;
}

dialog#main-dialog {
  width: 80vw;
  min-height: 40vh;
  max-height: 90vh;
}

.spacer {
  flex-grow: 1;
}

#lower-right h2 {
  width: 100%;
  text-align: center;
  margin: 2px;
}

#lower-left,
#lower-right {
  padding: 8px;
}

#lower-left p {
  margin: 4px;
}

#lower-left a:visited,
#lower-left a {
  color: black;
  cursor: pointer;
  text-decoration: underline;
  display: block;
  width: fit-content;
}

#logout-button:hover {
  color: red;
}

#loading-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#course-search-container {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 250px;
}

#error-wrapper>* {
  text-align: center;
}